@media (max-width: 650px) {
    .conteudo{
        background-color: red;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topo{
        background-color: blue;
        height: 20%;
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .topo > img {
        height: 60%;

        ion-icon{
            height: 10%;
        }
    }

    ion-icon{
        height: 10%;
    }
    .bate-papo{
        background-color: yellow;
        height: 60%;
        width: 100%;
        margin-top: 1%;
        font-family: "Roboto", sans-serif;
    }
    .caixa{
        background-color: green;
        height: 20%;
        margin-top: 1%;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caixa > p{
        font-size: 20px;
    }
    .mensagem{
        background-color: brown;
        height: 20%;
        width: 100%;
        margin-top: 10%;
        right: 200px;
        bottom: 200px;
        font-size: 30px;
    }

    .mensagem > p{
        margin-top: 1%;
    }
}