@media (max-width: 650px) {
    .conteudo{
        background-color: red;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topo{
        background-color: blue;
        height: 50%;
        width: 50%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .topo > img {
        height: 50px;
    }

    ion-icon > img {
        height: 40px;
    }
    .bate-papo{
        background-color: yellow;
        height: 50%;
        margin-top: 1%;
        font-family: "Roboto", sans-serif;
    }
    .caixa{
        background-color: green;
        height: 20%;
        margin-top: 1%;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caixa > p{
        font-size: 20px;
    }
}